<!-- Important Information -->
<div class="frame">
  <h4>Important Information</h4>
</div>
<hr />
<div class="frame" style="border-top: none; padding-left: 30px;">
  <ul>
    <li>
      We recommend you complete online check-in and pre-purchase all extras or baggage allowances
      prior to travelling to avoid higher fees charged by some airlines at the airport.
    </li>
    <li>
      Proof of citizenship is required for international travel. Be sure to bring all necessary
      documentation (e.g. passport, visa, transit permit). To learn more, visit our
      <a href="#">Visa and Passport page</a>.
    </li>
  </ul>
</div>
<br />
