<!-- Additional Flight Services -->
<div class="frame">
  <h4>Additional Flight Services</h4>
</div>
<hr />
<div class="frame" style="border-top: none; padding-left: 30px;">
  <ul>
    <li>
      The airline may charge
      <a href="#"> additional fees</a> for checked baggage or other optional services.
    </li>
  </ul>
</div>
<br />
